// Define main layout and display options
#main {
    #main-head {
        height: 80px;
    }
    #main-cards {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// Clothing-on-body cards carousel, cards
#main-cards {
    .card-body {
        display: flex;
        flex-direction: column;
        align-items: left;

        width: 250px;
        height: 500px;
        padding: 60px 20px 30px 20px;

        background-color: var(--colour-surfaceB2-bg);
        border-radius: 20px;
        h2 {
            width: 50px;
            height: 50px;
            padding: 0;
            text-align: center;

            font-size: 32px;
            font-weight: 700;

            border-radius: 1000px;
            background-color: var(--colour-surfaceB4-bg);
            color: var(--colour-surface3-txt);
        }
        h1 {
            margin: 20px 0 8px 0;

            font-size: 40px;
            line-height: 48px;
            font-weight: 700;
            color: var(--colour-sunstop);
        }
        p {
            //padding-left: 2px;

            font-size: 24px;
            font-weight: 400;
            line-height: 35px;
            color: var(--colour-surface2-txt);
        }
        .card-img-container {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            img {
                align-self: flex-end;
                
                width: 100px;
                height: 100px;

                //background-color: darkgrey;
            }
        }
    }
}