.heading {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
}

.complete-icon {
    font-size: 3em;
    margin-right: 10px;
}

.heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-container {
    display: block;
    text-align: right;
}

.label {
    font-size: var(--font-size-text);
}

.submit-button-container {
    display: flex;
    justify-content: flex-end;
}




