.content-container {
    width: 70%;
    margin-right: 20px;
}

.complete-icon {
    font-size: 3em;
    margin-right: 10px;
}

.heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-container {
    display: block;
    text-align: right;
}

.submit-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    .nope-button {
        background-color: transparent;
        padding: 10px 60px;
        border: none;
        color: var(--colour-sunstop2);
        //flex-grow: 2;
    }
}

.name-form {
    .input-field-name {
        margin: 0;
    }
    .input-checkbox-subscribe {
        //margin-left: 10px;
        margin-bottom: 20px;
    }
}