// Define main layout and display options
#main {
    gap: 20px;
    #main-head {
        //display: flex;
        //flex-direction: column;
        //justify-content: space-between;
        //align-items: center;
        
        //padding: 10px 0px;

        #main-title {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            gap: 20px;

            h1 {
                font-size: 40px;
                font-weight: 500;
                color: var(--colour-primary);
                line-height: 30px;
                margin-bottom: 1px;
            }
        }
        h2 {
            font-size: 30px;
            font-weight: 500;
            color: var(--colour-surface2-txt);
        }
    }
    #main-cards {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// Clothing-on-body cards carousel, cards
#main-cards {
    //padding: 20px 10px;

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;

        width: 240px;
        padding: 30px 20px 20px 20px;

        background-color: var(--colour-surfaceB2-bg);
        border-radius: 20px;
        img {
            width: 170px;
            //mix-blend-mode: luminosity;
        }
        h2 {
            font-weight: 600;
            letter-spacing: 1px;
            color: var(--colour-surfaceB2-txt);
        }
    }
}