// Define main layout and display options
#main {
    height: 100%;
    #main-head {
        padding: 10px 0px;
        #main-title {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
            h1 {
                font-size: 40px;
                font-weight: 500;
                color: var(--colour-surface1-txt);
                line-height: 30px;
                margin-bottom: 4px;
            }
        }
    }
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
    height: 565px;

    // Persistent header that dispalys 'welcome', points'
    #main-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    // Hold cards in carousel
    #main-cards {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// Column w/ body figure
#main-left-figure {
    padding: 20px 50px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;

    height: 100%;

    background-color: var(--colour-surface2-bg);
    border-radius: 20px;
    #figure-img {
        width: 300px;
        height: 100%;
        padding: 20px 35px;

        background-color: var(--colour-surface3-bg);
        border-radius: 20px;
        img {
           opacity: 0.75;
           mix-blend-mode: luminosity;
        }
    }

    #figure-labels-list {

        display: flex;
        flex-direction: column;
        width: 120px;
        height: 100%;

        .label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .label-text {
                width: 150px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                a {
                    width: 35px;
                    height: 35px;
                    padding-bottom: 1px;
                    margin-top: 2px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    font-size: 18px;
                    border-radius: 50px;
                    background-color: var(--colour-surface4-bg);
                    border: 3px solid var(--colour-tint-surface3);
                    color: var(--colour-tint-surface3);
                    font-weight: 800;
                }
                p {
                    font-size: 22px;
                    color: var(--colour-card1-txt);
                    font-weight: 600;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}

// Column w/ text, hand figure, button
#main-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--colour-surfaceB1-bg);
    border-radius: 20px;
    //width: 100%;
    #right-title {

        h1 {
            margin-bottom: 5px;
            font-size: 20px;
    
            font-weight: 700;
            color: var(--colour-surface3-txt);
            letter-spacing: 0.5px;
        }
            #dispense-area {
                height: 85px;
                width: 100%;
                //padding: 10px;
    
                
                font-size: 70px;
                line-height: 90px;
                font-weight: 600;
                color: var(--colour-sunstop);

            }
    }
    #main-right-diagram {
        h2 {
            margin-left: 0px;
            margin-bottom: 15px;
            font-size: 22px;

            color: var(--colour-surface2-txt);
            font-size: 20px;
            font-weight: 500;
        }
        img {
            position: relative;
            right: 8px;
        }
    }   
    #btn-skip {
        width: 100%;
    }
}

// DYNAMIC STYLING
.label {
    width: 500px;
    padding: 20px 0px 20px 20px;

    position: relative;
    right: 350px;

    border-radius: 20px;
}
.label.active {
    background-color: var(--colour-tint-primary);

}