// Define main layout and display options
#main {
    display: flex;
    flex-direction: column;

    #main-head {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 60px;

        h3 {
            font-size: 35px;
        }
    }
}

// User points
#points-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
        #points-total-container {
            font-size: 40px;
            font-weight: 500;
            line-height: 40px;
            p {
                margin-left: 10px;

                display: inline-block;
                line-height: 40px;
            }
        }
        .points-gained {
            margin-top: 5px;

            line-height: 20px;
            font-weight: 600;
            font-size: 20px;
        }
}

// Points tracker
#tracker-container {
    width: 1000px;
    margin-bottom: 100px;

    // Points milestone container
    #tracker-milestones-container {
        width: 80%;
        // Shift baseline down to meet milestone line
        margin-bottom: -14px;

        display: flex;
        flex-direction: row;

        // Our milestones! With a line, dot to mark progression, icon 
        // above 
        .milestone {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 25px;
                
            .milestone-icon-container {
                width: 100px;
                height: 100px;
                margin-left: -20px;

                // Move icon outside box, so it sits centrred above the
                // milestone progression dot
                position: relative;
                left: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                border-radius: 100px;
                border: 2px solid grey;

                // Temp icon
                span {
                    font-size: 65px;
                }
            }
            .milestone-line-container {
                width: 100%;
                height: 14px;

                .milestone-line {
                    width: 100%;
                    height: 14px;
            
                    opacity: 0;
                }
                .milestone-endpoint {
                    width: 40px;
                    height: 40px;

                    position: relative;
                    float: right;
                    bottom: 14px;
                    left: 20px;

                    border-radius: 20px;
                }
            }
        }
        // DEFAULT STATE - lighter inactive colour, smaller,
        // half-transparent icon 
        .milestone.default {                
            .milestone-icon-container {
                opacity: 0.5;

                // Temp icon
                span {
                    font-size: 50px;
                }
            }
            .milestone-line-container {
                .milestone-line {            
                    opacity: 0;
                }
                .milestone-endpoint {
                    width: 30px;
                    height: 30px;

                    bottom: 8px;
                    left: 15px;

                    background-color: lightgrey;
                }
            }
        }
        // ACTIVE STATE - darker colour, full opacity icon
        .milestone.active {               
            .milestone-icon-container {
                bottom: 15px;
                opacity: 1;
            }
            .milestone-line-container {
                .milestone-line {
                }
                .milestone-endpoint {
                    background-color: grey;
                }
            }
        }
        // MILESTONES ALREADY REDEEMED
        .milestone.active-past {                
            .milestone-icon-container {

                // Temp icon
                span {
                    font-size: 50px;
                }
            }
            .milestone-line-container {
                .milestone-line {
                }
                .milestone-endpoint {
                    width: 30px;
                    height: 30px;

                    bottom: 8px;
                    left: 15px;

                    background-color: grey;
                }
            }
        }
    }
}

#tracker-baseline-container {
    height: 14px;
    #tracker-baseline {
        width: 100%;
        height: 14px;
        
        border-radius: 20px;
        background-color: lightgrey;
    }
    #tracker-baseline.active {
        position: relative;
        bottom: 14px;

        background-color: grey;

        transition: width 2s;    
    }
}

// Buttons
#twin-buttons-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

    button {
        //border-radius: 20px;

        p {
            line-height: 50px;
            margin-bottom: 5px;
        }
    }

    #btn-rewards {
        flex-grow: 1;
    }
    #btn-dispense {
        flex-grow: 1;
    }

    .btn-lead {
        width: 100px;
        height: 100px;
        background-color: grey;
    }
}

#footer {
    margin-top: 20px;

    #btn-logout-footer {
        float: right;
    }
}