// Define main layout and display options
#main {
    #main-head {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 50px;
        padding: 10px;

        //background-color: var(--colour-surfaceB1-bg);
        h3 {
            font-size: 35px;
            font-weight: 500;
        }
    }
}

// User points
#points-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
        #points-total-container {
            font-size: 40px;
            font-weight: 400;
            line-height: 40px;
            p {
                margin-left: 10px;

                display: inline-block;
                line-height: 40px;
            }
        }
        .points-gained {
            margin-top: 5px;

            line-height: 20px;
            font-weight: 600;
            font-size: 26px;
            color: var(--colour-sunstop);

            animation: fadeOut 4s forwards;
        }
}

@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    55% {opacity: 1;}
    100% {opacity: 0;}
}

// Points tracker
#tracker-container {
    width: 1000px;
    margin-left: 20px;
    margin-bottom: 80px;

    // Points milestone container
    #tracker-milestones-container {
        height: 175px;
        width: 90%;
        // Shift baseline down to meet milestone line
        margin-bottom: -10px;

        display: flex;
        flex-direction: row;
        // Our milestones! With a line, dot to mark progression, icon 
        // above 
        .milestone {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 25px;

            transition: all 1s ease-out;
            .milestone-icon-container {
                margin-left: -20px;
                padding: 20px;

                // Move icon outside box, so it sits centred above the
                // milestone progression dot
                position: relative;
                left: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                border-radius: 100px;
                outline: 2px solid var(--colour-surface1-outline);

                // Image
                img {
                    width: 100px;
                    height: 100px;
                }
                // Check mark
                span.check {
                    height: 0;

                    display: none;
                    position: relative;
                    bottom: 80px;

                    font-size: 70px;
                    font-weight: 700;
                    color: var(--colour-sunstop);
                    z-index: 2;
                }
            }
            .milestone-line-container {
                width: 100%;
                height: 10px;

                .milestone-line {
                    width: 100%;
                    height: 10px;
            
                    opacity: 0;
                }
                .milestone-endpoint {
                    width: 26px;
                    height: 26px;

                    position: relative;
                    float: right;
                    bottom: 8px;
                    left: 13px;

                    background-color: var(--colour-surfaceB3-bg);
                    border-radius: 20px;
                }
            }

            p.milestone-pointsreq {
                text-align: center;
                width: 35px;

                position: relative;
                bottom: 10px;
                left: 15px;

                font-size: 19px;
                font-weight: 600;
                color: var(--colour-secondary-txt);
                letter-spacing: 0.325px;
            }
        }
        // DEFAULT STATE - lighter inactive colour, smaller,
        // half-transparent icon 
        .milestone.default { 
            flex-grow: 25;
            transition: all 1s ease-out;              
            .milestone-icon-container {
                // Image
                img {
                    opacity: 0.85;
                }
            }
            .milestone-line-container {
                .milestone-endpoint {
                }
            }
        }
        // ACTIVE STATE - darker colour, larger, full opacity icon
        .milestone.active { 
            flex-grow: 25;
            transition: all 1s ease-out;              
            .milestone-icon-container {
                bottom: 15px;

                opacity: 1;
                background-color: var(--colour-sunstop);
                img {
                    opacity: 1;
                }
            }
            .milestone-line-container {
                .milestone-endpoint {
                    width: 36px;
                    height: 36px;

                    bottom: 17px;
                    left: 18px;

                    background-color: var(--colour-sunstop);
                }
            }
        }
        // MILESTONES ALREADY REDEEMED
        .milestone.active-past {                
            flex-shrink: 5;
            .milestone-icon-container {
                background-color: var(--colour-tint-sunstop);
                outline: none;
                // Image
                img {
                    z-index: 1;
                    opacity: 0.75;
                }
                // Check mark
                span.check {
                    display: block;
                }
            }

            .milestone-line-container {
                .milestone-endpoint {
                    //bottom: 12px;
                    background-color: var(--colour-sunstop);
                }
            }
        }
    }
}

#tracker-baseline-container {
    height: 10px;
    #tracker-baseline {
        width: 100%;
        height: 10px;
        
        border-radius: 20px;
        background-color: var(--colour-surfaceB3-bg);
    }
    #tracker-baseline.active {
        position: relative;
        bottom: 10px;

        background-color: var(--colour-sunstop);

        transition: width 2s;    
    }
}

// Buttons
#twin-buttons-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

    button {
        //border-radius: 20px;
        p {
            line-height: 50px;
            margin-bottom: 5px;
        }
    }

    #btn-rewards {
        flex-grow: 1;
    }
    #btn-dispense {
        flex-grow: 1;
    }

    .btn-lead {
        width: 100px;
        height: 100px;
        //background-color: grey;
    }
}

#footer {
    margin-top: 5px;

    #btn-logout-footer {
        float: right;
    }
}