.heading {
    margin-bottom: 20px;
}

.label {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    color: var(--colour-primary);
}

.submit-button-container {
    display: flex;
    justify-content: flex-end;
}

.content-container {
    width: 60%;
}