.heading {
    margin-bottom: 20px;
}

.center-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.input-field {
    margin-bottom: 20px;
}
