.heading {
    margin-bottom: 20px;
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    color: var(--colour-primary);
}

.text {
    font-size: var(--font-size-text);
}

.content-container {
    width: 60%;
}

.button-container {
    text-align: right;
    margin-top: 30px;
}

.button {
    background-color: var(--colour-background);
}

.change-button {
    background-color: transparent;
    margin-right: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}