body {
    margin: 0;
    overflow: hidden;
}

// Header/main grid wrapping the body
main {
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
}

// Signup flow
.center-container.up {
    animation: transformUp 0.15s ease-out forwards;
}
// Signup flow
.center-container.down {
    animation: transformDown 0.15s ease-out forwards;
}
    @keyframes transformUp {
        0% { transform: translate(0px, 0px); }
        100% { transform: translate(0px, -102px); }
    }
    @keyframes transformDown {
        0% { transform: translate(0px, -102px); }
        100% { transform: translate(0px, 0px); }
    }

.center-container:has(input:focus-visible) {
    animation: transformUp 0.15s ease-out forwards;
}