.page-template-main-container {
    background-color: var(--colour-template-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
    padding: 25px 30px 30px 30px;
    height: 820px;

    header {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .logo {
            margin-top: 5px;
        }

        button.about {
            font-size: 24px;
            font-weight: 500;
            color: var(--colour-secondary-txt);
            p {
                line-height: 24px;
                margin-bottom: 2px;
            }
            span {
                font-size: 25px;
                font-weight: 600;
            }
        }
    }

    .main-content {
        width: 100%;        
        height: 100%;
        overflow: hidden;

        background-color: var(--colour-surface1-bg);
        border-radius: 30px;

        // Header/main grid wrapping the body
        main {
            padding: 25px 50px 30px 50px;
            
        }
    }
}
