button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;

    letter-spacing: 0.25px;
}

.button-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;

    .back-cancel-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .back-cancel-button-icon {
        width: 30px;
        height: 30px;
    }
}

.next-button {
    font-size: 25px;
    background-color: var(--colour-template-bg);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}
.btn-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    span {
        font-size: 40px;
        font-weight: 700;
        color: var(--colour-surface2-txt);
    }
    h1 {

    }
}
.btn-logout {
    padding: 15px 40px;

    gap: 15px;

    background: none;
    border: none;

    color: var(--colour-secondary-bg);
    // Icon
    span {
        font-size: 35px;
        font-weight: 600;
        color: var(--colour-secondary-bg);
    }
    // Text, margin to centre
    p {
        margin-bottom: 5px;
        
        font-size: 35px;
        font-weight: 500;
    }
}

.btn-xl {
    padding: 30px 0;

    gap: 30px;

    font-size: 40px;  
    background-color: var(--colour-surface4-bg);
    color: var(--colour-surfaceB2-txt);
    font-weight: 500;
    border-radius: 50px;
    letter-spacing: 1px;
    p {
        text-align: left;
    }
}
    .btn-xl.inactive {
        background-color: var(--colour-tint-surface1-inactive);
        outline: 2px solid var(--colour-tint-surface1-inactive-outline);
        img {
            opacity:  0.5;
            mix-blend-mode: luminosity;
        }
        p {
            color: var(--colour-tint-surface1-inactive-txt);
            opacity:  0.65;
        }
    }
    .btn-xl.active {
        background-color: var(--colour-sunstop-bg);
        color: var(--colour-sunstop-txt);

        img {
            filter: brightness(1.2) contrast(1.15);
        }
    }
// Primary colour button
.btn-prmry {
    padding: 15px;
    height: 60px;

    font-size: 25px;
    font-weight: 500;
    background-color: var(--colour-secondary);
    color: var(--colour-secondary-txt);
    border-radius: 30px;
}
// Toned colour button
.btn-scnd {
    padding: 15px;
    height: 60px;

    font-size: 25px;
    font-weight: 500;
    background-color: var(--colour-surfaceB3-bg);
    color: var(--colour-surface2-txt);
    border-radius: 30px;
}
// Outline button
.btn-outlined {
    padding: 15px;
    height: 60px;

    font-size: 25px;
    font-weight: 500;
    border: 2px solid var(--colour-button-outline);
    color: var(--colour-surface4-txt);
    border-radius: 30px;
}