button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
}

.button-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;

    .back-cancel-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .back-cancel-button-icon {
        width: 30px;
        height: 30px;
    }
}

.next-button {
    font-size: 25px;
    background-color: var(--colour-template-bg);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}



.btn-back {
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-logout {
    padding: 15px 40px;

    gap: 15px;

    background: none;
    border: none;

    color: var(--colour-secondary-bg);
    // Icon
    span {
        font-size: 35px;
        font-weight: 600;
        color: var(--colour-secondary-bg);
    }
    // Text, margin to centre
    p {
        margin-bottom: 5px;
        
        font-size: 35px;
        font-weight: 500;
    }
}

.btn-xl {
    padding: 30px 0;

    gap: 30px;

    font-size: 40px;  
    background-color: var(--colour-surface2-bg);
    border-radius: 50px;
    p {
        text-align: left;
    }
}