/*
Base shades
 - Load these as SASS variables, compiled at runtime
*/
$base-primary: hsl(24, 60%, 14%);
$base-secondary: hsl(24, 56%, 28%);
$base-sunstop: hsl(24, 91%, 55%);

$base-surface: hsl(37, 100%, 79%);

/*
Colours
*/
:root {
    // Template wrapper
    --colour-template-bg: color-mix(in srgb, #{$base-surface} 100%, white 75% );
    --colour-template-txt: color-mix(in srgb, black 100%, #{$base-surface} 20%);
    // Primary
    --colour-primary: #{$base-primary};
    --colour-primary-bg: color-mix(in srgb, #{$base-primary} 100%, white 0%);
    --colour-primary-txt: color-mix(in srgb, #{$base-primary} 100%, black 0%);
    // Secondary
    --colour-secondary: #{$base-secondary};
    --colour-secondary-bg: color-mix(in srgb, #{$base-secondary} 100%, white 0%);
    --colour-secondary-txt: color-mix(in srgb, #{$base-secondary} 100%, black 0%);
    // Secondary
    --colour-sunstop: #{$base-sunstop};
    --colour-sunstop-bg: color-mix(in srgb, #{$base-sunstop} 100%, darkgrey 0%);
    --colour-sunstop-txt: color-mix(in srgb, #{$base-sunstop} 100%, black 0%);
    // Surfaces -- in implicit hierachy
    --colour-surface1-bg: color-mix(in srgb, white 100%, #{$base-surface} 10%);
    --colour-surface1-txt: color-mix(in srgb, black 100%, #{$base-surface} 20%);
    --colour-surface2-bg: color-mix(in srgb, white 90%, #{$base-surface} 30%);
    --colour-surface2-txt: color-mix(in srgb, black 100%, #{$base-surface} 20%);
    --colour-surface4-bg: color-mix(in srgb, white 90%, #{$base-surface} 20%);
    --colour-surface4-txt: color-mix(in srgb, black 100%, #{$base-surface} 20%);
}