// Dialog shadow backgrond and content wrapper
dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--colour-tint-shadow);
    border: none;

    h1 {
        margin-bottom: 25px;
        color: var(--colour-surfaceB1-txt)
    }
    p {
        font-size: 24px;
        color: var(--colour-card-txt);
    }
}

      
// Dialog template
.dialog-container {
    max-width: 800px;
    padding: 32px 40px 40px 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    
    border-radius: 40px;
    z-index: 2000;
    background-color: var(--colour-surface1-bg);
    animation: flyIn ease-out 0.25s;
    .head-container {
        h1 {
            font-size: 42px;
            font-weight: 500;
        }
    }
    .content-container {
        display: flex;
        flex-direction: column;
        
    }
    .btns-container {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        button {
            padding: 50px 10px;
            flex-grow: 1;

            //font-size: 30px;
        }
    }
}
@keyframes flyIn {
    0% { transform: translateY(820px) }
    100% { transform: translateY(0px) }
  }

// Multi reward dialog box
.rewards-list-container {
    position: relative;
    right: 40px;
    width: 700px;
    margin-bottom: 20px;
    padding: 10px 0px;
    border-top: 2px solid var(--colour-surface3-outline);
    border-bottom: 2px solid var(--colour-surface3-outline);
    button.rewards-listing-wrapper {
        width: 100%;
        padding: 0px 40px;
        display: flex;
        flex-direction: row;
        gap: 25px;
        border-radius: 0px;
        //border-bottom: 1px solid var(--colour-surface2-outline);
        .listing-img-border {
            width: 60px;
            height: 60px;
            display: block;
            border-radius: 100px;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.01);
            img {
                width: 60px;
                height: 60px;
                display: block;
                border-radius: 50%;
                overflow: hidden;
                transform: scale(1.2);
            }
        }
        .listing-info-trail {
            flex-grow: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h4 {
                font-size: 24px;
                line-height: 90px;
                font-weight: 500;
                color: var(--colour-card1-txt)
            }
            span.material-symbols-rounded {
                font-size: 45px;
                font-weight: 400;
                color: var(--colour-card1-txt)
            }
        }
    }
}