// Import Readex Pro and Figtree?
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 450;
    --font-size-heading: 40px;
    --font-size-title: 50px;
    --font-weight-heading: 600;
    --font-size-text: 23px;
  
    // Default colour, override at leisure
    color: var(--colour-surface1-txt);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.signup-head {
  margin-bottom: 20px;
  h1 {
      font-size: var(--font-size-title);
      font-weight: var(--font-weight-heading);
      color: var(--colour-primary);
  }
  p {
      font-size: var(--font-size-text);
  }
}    
  
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

// Dividers
hr {
  border: none;
  background-color: var(--colour-tint-surface1);
}
hr.hr-horiz {
  height: 1px;
  border-width: 1px;
  width: 100%;
}
div.hr-vert {
  width: 1px;
  background-color: var(--colour-tint-surface1);
}

// Easy tooltip to show 'toggle nav' when hover, kudos https://www.w3schools.com/css/css_tooltip.asp
.iconbtn {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  .tooltiptext {
      opacity: 0;
      //width: 150px;
      top: 51%;
      left: 25%;
      background-color: var(--colour-secondary);
      color: var(--colour-secondary-txt) !important;
      text-align: center;
      border-radius: 8px;
      margin-top: 4px;
      font-size: 18px;
      padding: 8px 26px;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      transition: opacity ease-out 0.1s;
      .arrow-up {
        width: 0; 
        height: 0; 
  
        position: absolute;
        bottom: 70px;
  
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid var(--colour-secondary);
      }
  }
  .iconbtn:hover .tooltiptext {
      opacity: 1;
  }

// Adapted above tooltip for alert
.alerttext {
    opacity: 1;
    //width: 150px;
    top: 51%;
    left: 25%;
    background-color: var(--colour-secondary);
    color: var(--colour-secondary-txt) !important;
    text-align: center;
    border-radius: 8px;
    margin-top: 4px;
    font-size: 18px;
    padding: 8px 26px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    transition: opacity ease-out 0.1s;

    .arrow-up {
      width: 0; 
      height: 0; 
  
      position: absolute;
      bottom: 70px;
  
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid var(--colour-secondary);
    }
}

// Loader thanks to https://www.w3schools.com/howto/howto_css_loader.asp
.loader {
  border: 6px solid var(--colour-tint-sunstop); /* Light grey */
  border-top: 6px solid var(--colour-sunstop); /* Blue */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1.25s linear infinite, fadeIn 3s ease-out;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes fadeIn {
    0% { border-top: 6px solid rgba(244, 104, 11, 0.0); }
    100% { border-top: 6px solid var(--colour-sunstop); }
  }

.signup-progtrack-container {
  position: absolute;
  left: 30px;
  top: 105px;
  width: 1134px;
  height: 30px;
  border-radius: 30px 30px 0px 0px;
  overflow:hidden;

  //background-color: var(--colour-surface1-bg);
  .signup-progtrack {
    width: 1134px;
    height: 10px;
  
    background-color: var(--colour-surfaceB1-bg);
  }
  .signup-progtrack-active {
    height: 10px;
      
    background-color: var(--colour-sunstop);
  }
    .signup-progtrack-active.prog-1 {
      width: 5%;
    }
    .signup-progtrack-active.prog-2 {
      width: 50%;
    }
    .signup-progtrack-active.prog-3 {
      width: 85%;
    }
}
