.top-section {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

.top-section .p {
    margin-top: 0;
}

.weather-icon {
    font-size: 500px;
    color: lightgrey;
    
}