.main-container {
    height: 100%;
    padding: 20px 40px;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

body {
}
#root {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1180px;
    height: 820px;
}